old_build/cpu1/ci_lab/
old_build/cpu1/elf2cfetbl/
old_build/cpu1/exe/.cdskeyfile
old_build/cpu1/exe/.reservedkeyfile
old_build/cpu1/exe/.resetkeyfile
old_build/cpu1/exe/cf/
old_build/cpu1/inc/
old_build/cpu1/sample_app/
old_build/cpu1/sample_lib/
old_build/cpu1/sch_lab/
old_build/cpu1/to_lab/
old_build/mission_inc/
